body {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Muli', sans-serif;
  font-weight: 800;
  text-align: center;
}

h3 {
  text-decoration: underline;
  text-decoration-color: antiquewhite;
}

li {
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.5) !important;
}

a {
  color: #0818c9;
}

#tribute-info {
  margin-bottom: 2%;
}

.jumbotron {
  padding-bottom: 2%;
  background-color: transparent;
}

#image {
  display: block;
}