body {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Muli', sans-serif;
  font-weight: 800;
}

#title {
  text-align: center;
  padding-top: 2%;
}

.jumbotron {
  padding-bottom: 2%;
  background-color: transparent;
}

#tribute-info {
  text-align: center;
}

li {
  margin-top: 2%;
  margin-bottom: 2%;
}

h3 {
  text-decoration: underline;
}